* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  &::after {
    box-sizing: border-box;
  }
  &::before {
    box-sizing: border-box;
  }
}

body {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  text-align: left;
}

.container {
  width: 77%;
  padding: 0 15px;
  margin: 0 auto;
}

